body {
    background: linear-gradient(45deg, #9B59B6, #2980B9)
}

button {
    transition: all 0.25s ease-in-out;
}

button:hover {
    scale: 1.1;
    filter: brightness(1.1);
}

#exitButton {
    background-color: rgb(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 7vw;
    width: 8vw;
    height: 8vw;
    aspect-ratio: 1/1;
    border-radius: 2vw;
}

#spinButton {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    right: 2vw;
    bottom: 3vw;
    width: 10vw;
    height: 10vw;
    aspect-ratio: 1/1;
    border-radius: 2vw;
    border: none;
    color: #fff;
    font-size: 5vw;
}

.spinning {
    animation: forwards 2s spinButtonAnim ease;
}

@keyframes spinButtonAnim {
    from {
        border-radius: 2vw;
        rotate: 0deg;
    }
    25% {
        border-radius: 50%;
    }
    75% {
        border-radius: 2vw;
    }
    to {
        rotate: 1440deg;
        border-radius: 2vw;
    }
}

#machineTopPanel {
    background-color: #df0808;
    box-shadow: inset 0 0 0 1vw black;
    border-radius: 2vw;
    position: fixed;
    left: 5vw;
    width: 90vw;
    height: 15vw;
    top: 15vw;
}

#machineBottomPanel {
    background-color: #df0808;
    box-shadow: inset 0 0 0 1vw black;
    border-radius: 2vw;
    position: fixed;
    left: 5vw;
    width: 90vw;
    height: 15vw;
    top: 70vw;
}

#machineScreen {
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 2vw #df0808;
    border-radius: 2vw;
    position: fixed;
    left: 7vw;
    width: 84vw;
    height: 42vw;
    top: 28vw;
    border: 1vw #000 solid;
    color: #fff;
    font-size: 10svh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot {
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    width: 25vw;
    height: 36vw;
    top: 32vw;
    border-radius: 2vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25svh;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#slot1 {
    left: 11vw;
}

#slot2 {
    left: 37.5vw;
}

#slot3 {
    left: 64vw;
}