body {
    background: linear-gradient(135deg, #12c2e9, #c471ed, #f64f59);
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Baloo 2';
    color: #fff;
    transition: all 0.2s ease-in-out;
    animation: unfade_up 0.4s ease-in-out forwards;
}

.square_bg {
    position: fixed;
    aspect-ratio: 1/1;
    border: #fff solid 2svh;
    border-radius: 40%;
    z-index: -1;
    animation: square_bg_anim 30s infinite linear;
    box-shadow: 0 0 5svh rgb(255, 255, 255);
    @media (orientation: portrait) {
        width: 80%;
    }
    @media (orientation: landscape) {
        height: 80%;
    }
}

@keyframes square_bg_anim {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}

.ar9_16 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_fullwidth {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 4vh;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2svh;
    padding: 2svh;
    font-weight: 800;
}

h2 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(0, 0, 0, 0.5);
    color: red;
    border-radius: 2svh;
    padding: 2svh;
    font-weight: 800;
}

h3 {
    text-align: center;
    font-size: 2vh;
    background-color: rgb(0, 0, 0, 0.5);
    color: red;
    border-radius: 2svh;
    padding: 2svh;
    font-weight: 800;
}

p {
    font-size: 2vh;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2svh;
    padding: 2svh;
}

a:hover {
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fullwidth_img {
    width: 100%;
}

.content {
    filter: blur(0);
    transition: filter 0.5s ease;
}

.fade_down {
    animation: fade_down 0.4s ease-in-out forwards;
}

@keyframes fade_down {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.unfade_up {
    animation: unfade_up 0.4s ease-in-out forwards;
}

@keyframes unfade_up {
    from {
        opacity: 0;
        transform: translateY(50%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.side_nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 0 2svh 2svh 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 99;
}

@media (orientation: portrait) {
    .side_nav {
        border-radius: 0;
    }
}

.side_nav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.2s;
}

.side_nav a:hover {
    background-color: #575757;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#openNav {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background: #008CBA;
    color: white;
    border: none;
    margin: 20px;
    border-radius: 5px;
}

#openNav:hover {
    background: #005f73;
}

.filler {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_button {
    background-color: transparent;
    border-radius: 1svh;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 1vh;
    text-decoration: none;
    font-size: 4svh;
    transition: all 0.2s ease-in-out;
    aspect-ratio: 1/1;
}

.navigation_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navigation_panel {
    height: 5vh;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1svh;
    padding: 1svh;
    margin: 1svh;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #2980b9;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-corner {
    background: #fff
}

.money_counter {
    font-size: 4vh;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1svh;
    padding: 0 1.5svh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    p {
        margin: 0;
        margin-left: 2svh;
        padding: 0;
        background-color: rgb(0, 0, 0, 0);
        font-size: 4svh;
    }
}

.break {
    animation: break 3s ease forwards;
}

@keyframes break {
    from {
        opacity: 1;
        transform: translateY(0);
        rotate: 0deg;
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        transform: translateY(-50%);
        rotate: 0deg;
    }
    to {
        transform: translateY(200%);
        opacity: 0.8;
        rotate: 45deg;
    }
}

.popup {
    z-index: 99999999999999999999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 4svh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5svh;
    color: white;
    translate: -50% -50%;
    flex-direction: column;
    overflow: hidden;
    display: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.popup-header {
    z-index: 9999;
    font-size: 8svh;
    font-weight: 900;
    margin-bottom: 2svh;
    width: 100%;
    border-radius: 4svh 4svh 1svh 1svh;
    text-align: center;
    background-color: rgb(22, 22, 22);
}

.popup-content {
    z-index: 9999;
    font-size: 5svh;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.popup-show {
    animation: popup-show 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.popup-hide {
    animation: popup-hide 0.3s ease-in-out forwards;
}

@keyframes popup-show {
    from {
    height: 0vh;
    }
    to {
    height: 80vh;
    }
}

@keyframes popup-hide {
    from {
    height: 80vh;
    }
    to {
    height: 0vh;
    }
}

.popup-close {
    z-index: 9999;
    position: absolute;
    top: 2svh;
    right: 2svh;
    background-color: rgb(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 10svh;
    height: 10svh;
    font-size: 5svh;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.popup-close:hover {
    scale: 1.1;
}

.popup-close:active {
    scale: 0.9;
}

#userIcon {
    aspect-ratio: 1/1;
    height: 5vh;
    border-radius: 1svh;
}

#userButton {
    aspect-ratio: 1/1;
    height: 6vh;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userIconName {
    background: none;
    font-family: 'Baloo 2';
    text-align: right;
    font-size: 3svh;
    font-weight: 500;
    padding: 0 1svh;
    white-space: nowrap;
}

#chat {
    position: fixed;
    left: 5%;
    top: 85%;
    width: 300px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1svh;
    overflow: hidden;
    transition: height 0.5s ease;
}

.chat-hide {
    animation: chat-hide 0.5s ease forwards;
}

.chat-show {
    animation: chat-show 0.5s ease forwards;
}

@keyframes chat-hide {
    from {
        opacity: 1;
        display: flex;
    }
    99% {
        opacity: 0;
    }
    to {
        display: none;
    }
}

@keyframes chat-show {
    from {
        opacity: 0;
        display: none;
    }
    99% {
        opacity: 1;
    }
    to {
        display: flex;
    }
}

#toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#messages {
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2svh;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

#chat-title {
    font-size: 3svh;
    padding: 0;
    margin: 0;
    margin-bottom: 1svh;
    background: none;
    user-select: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#type-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5svh;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    border-radius: 1svh;
}

#msg-input {
    height: 60%;
    width: 80%;
    margin: 1svh;
    margin-right: 0;
    border-radius: 1svh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 100%;
    font-family: 'Baloo 2';
    padding: 0 1svh;
    font-weight: 600;
}

#send-button {
    width: 20%;
    height: 60%;
    margin: 1svh;
    margin-left: 0;
    border-radius: 1svh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 100%;
}

.toolbar-button {
    width: 20%;
    aspect-ratio: 1/1;
    margin-left: 0;
    border-radius: 1svh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    color: white;
    font-size: 200%;
}

.message-div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    text-align: left;
    align-items: center;
    padding: 1svh;
}

.message {
    border-radius: 1svh;
    padding: 0.5svh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
    color: black;
}

.self-message {
    justify-content: end;
    text-align: right;
    flex-direction: row;
}

.self-message .chat-avatar {
    margin-right: 0;
    margin-left: 1svh;
}

#messages::-webkit-scrollbar {
  width: 8px;
}

#messages::-webkit-scrollbar-track {
  background: transparent;
}

#messages::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

#messages {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}

.chat-avatar {
    height: 100%;
    max-width: fit-content;
    aspect-ratio: 1/1;
    border-radius: 0.5svh;
    margin-left: 0;
    margin-right: 1svh;
}