body {
    background: linear-gradient(135deg, #12c2e9, #c471ed, #f64f59);
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Baloo 2';
    color: #fff;
    transition: all 0.2s ease-in-out;
    animation: unfade_up 0.4s ease-in-out forwards;
}

.square_bg {
    position: fixed;
    aspect-ratio: 1/1;
    border: #fff solid 2svh;
    border-radius: 40%;
    z-index: -1;
    animation: square_bg_anim 30s infinite linear;
    box-shadow: 0 0 5svh rgb(255, 255, 255);
    @media (orientation: portrait) {
        width: 80%;
    }
    @media (orientation: landscape) {
        height: 80%;
    }
}

@keyframes square_bg_anim {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}

.ar9_16 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_fullwidth {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 4vh;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2svh;
    padding: 2svh;
    font-weight: 800;
}

h2 {
    text-align: center;
    font-size: 3vh;
    background-color: rgb(0, 0, 0, 0.5);
    color: red;
    border-radius: 2svh;
    padding: 2svh;
    font-weight: 800;
}

h3 {
    text-align: center;
    font-size: 2vh;
    background-color: rgb(0, 0, 0, 0.5);
    color: red;
    border-radius: 2svh;
    padding: 2svh;
    font-weight: 800;
}

p {
    font-size: 2vh;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2svh;
    padding: 2svh;
}

a:hover {
    cursor: pointer;
}

.fullwidth_img {
    width: 100%;
}

.content {
    transition-duration: filter 0.5s ease-in-out;
}

.fade_down {
    animation: fade_down 0.4s ease-in-out forwards;
}

@keyframes fade_down {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.unfade_up {
    animation: unfade_up 0.4s ease-in-out forwards;
}

@keyframes unfade_up {
    from {
        opacity: 0;
        transform: translateY(50%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.side_nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 0 2svh 2svh 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 99;
}

@media (orientation: portrait) {
    .side_nav {
        border-radius: 0;
    }
}

.side_nav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.2s;
}

.side_nav a:hover {
    background-color: #575757;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#openNav {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background: #008CBA;
    color: white;
    border: none;
    margin: 20px;
    border-radius: 5px;
}

#openNav:hover {
    background: #005f73;
}

.filler {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_button {
    background-color: transparent;
    border-radius: 1svh;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 1vh;
    text-decoration: none;
    font-size: 4svh;
    transition: all 0.2s ease-in-out;
}

.navigation_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navigation_panel {
    height: 5vh;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1svh;
    padding: 1svh;
    margin: 0;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #2980b9;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-corner {
    background: #fff
}

.money_counter {
    font-size: 4vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1svh;
    padding: 0 1.5svh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    p {
        margin: 0;
        margin-left: 2svh;
        padding: 0;
        background-color: rgb(0, 0, 0, 0);
        font-size: 4svh;
    }
}

.break {
    animation: break 3s ease forwards;
}

@keyframes break {
    from {
        opacity: 1;
        transform: translateY(0);
        rotate: 0deg;
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        transform: translateY(-50%);
        rotate: 0deg;
    }
    to {
        transform: translateY(200%);
        opacity: 0.8;
        rotate: 45deg;
    }
}