#leaderboard {
    margin-top: 25vh;
    width: 60%;
    max-width: 60%;
    translate: -5% 0;
}

.ar9_16 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.user {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2svh;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1svh 2svh;
    margin: 1svh;
}

.profile {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2svh;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1svh;
}

.avatar {
    height: 80%;
    aspect-ratio: 1/1;
    margin: 0 1svh;
    border-radius: 1svh;
}

.name {
    background: none;
    text-align: left;
    padding: 0;
    margin: 0 1svh;
}

.filler {
    margin: auto;
}

.id {
    background: none;
    height: 80%;
    padding: 1svh;
    font-size: 4svh;
    margin-right: 1svh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.money_counter {
    width: fit-content;
    max-width: 40%;
    overflow: hidden;
}