.ar9_16 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2svh;
    height: 80vh;
    margin-top: 2vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

h1 {
    width: 80%;
    background: none;
    margin: 0;
}

p, textarea {
    overflow-wrap: break-word;
    word-break: break-word;
    resize: vertical;
    scrollbar-width: none;
}

#profile {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2svh;
    padding: 0 2svh;
    width: 80%;
}

#avatar {
    width: 100%;
    aspect-ratio: 1/1;
    margin: 1svh;
    margin-bottom: 0;
    border-radius: 2svh;
}

.logout {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 3svh;
    font-family: 'Baloo 2';
    margin: 2svh;
    transition: all 0.2s ease;
    position: absolute;
    bottom: 0px;
    left: 0px;
    aspect-ratio: 1/1;
    width: 5svh;
    justify-content: center;
    align-items: center;
    display: none;
}

.logout:hover {
    scale: 1.1;
    rotate: -15deg;
    filter: brightness(2);
}

.edit {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 3svh;
    font-family: 'Baloo 2';
    margin: 2svh;
    transition: all 0.2s ease;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 5svh;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    display: none;
}

.edit:hover {
    scale: 1.1;
    rotate: 15deg;
    filter: brightness(2);
}

#description {
    width: 80%;
    margin-top: 2svh;
    max-height: 20vh;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

#description-edit {
    width: 80%;
}