.disclaimer {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2svh;
    margin: 0;
    padding: 1svh;
}

.letsgo_button {
    width: 100%;
    aspect-ratio: 5/1;
    margin: 2svh;
    border: #fff solid 0.8svh;
    border-radius: 2svh;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'Baloo 2';
    font-weight: 900;
    font-size: 5svh;
    transition: all 0.25s ease-in-out;
    filter: none;
    margin-bottom: 0;
}

.letsgo_button:hover {
    scale: 1.1;
    box-shadow: 0 0 5svh rgb(255, 255, 255);
}

.letsgo_button:focus {
    animation: letsgo_button_press 0.4s forwards;
}

@keyframes letsgo_button_press {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}