<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL - Mines</title>
    {% include 'basic_links.html' %}
    <link rel="stylesheet" href="/static/css/games/mines/style.css">
</head>
<body>
    <script src="/static/js/games/mines/script.js"></script>
    <div class="content" id="content">
        <button id="exitButton">&times</button>
        <div class="money_counter"><i class="fa-solid fa-coins"></i><p id="money">1488</p></div>
        <div id="grid"></div>
    </div>

    {% include 'side_nav.html' %}
</body>
</html>