#exitButton {
    position: absolute;
    left: 1vw;
    top: 1vw;
    background-color: rgb(0, 0, 0, 0.2);
    border: none;
    color: white;
    font-size: 7svh;
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 1svh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.money_counter {
    position: absolute;
    top: 1vw;
    right: 1vw;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.2);
}

.content {
    width: 56.25vh;
    height: 100vh;
    max-width: 100vw;
    max-height: 177.78vw;
    position: relative;
    overflow-x: visible;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    transition: all 0.25s ease-in-out;
}

button:hover {
    scale: 1.1;
    filter: brightness(1.1);
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 80%;
    gap: 0.5svh;
}

.cell-div {
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
}

.cell {
    position: absolute;
    background: linear-gradient(45deg, blueviolet, rgb(121, 30, 207));
    width: 12%;
    height: auto;
    aspect-ratio: 1/1;
    font-size: 0;
    transform-style: preserve-3d;
    border-radius: 0.5svh;
    transition: transform 0.15s ease-in;
    animation: cell-spawn forwards 0.5s ease;
}

@keyframes cell-spawn {
    from {
        translate: -20vw -10vh;
        transform: rotateZ(90deg);
        scale: 3;
        opacity: 0;
    }
    to {
        translate: 0 0;
        transform: rotateZ(0deg);
        scale: 1;
        opacity: 1;
    }
}

.cell-back {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-size: 100% 100%;
    border-radius: 1svh;
    text-align: center;
    width: 12%;
    height: auto;
    aspect-ratio: 1/1;
    font-size: 4vh;
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
    transform: rotateZ(5deg);
}

.setting-div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.setting-div h1 {
    background: none;
}

.setting-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1svh;
}

.setting-input {
    border: 0.5svh white solid;
    border-radius: 1svh;
    background: none;
    font-family: 'Baloo 2';
    font-size: 3svh;
    color: #fff;
    margin: 1svh;
    text-align: center;
    width: 80%;
}

.setting-button {
    font-size: 3svh;
    aspect-ratio: 1/1;
    margin: 1svh;
    width: 4svh;
    background: none;
    color: white;
    border: none;
}

.open {
    animation: open-anim 0.8s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes open-anim {
    from {
        transform: rotateY(90deg) rotateZ(2.5deg);
        scale: 1
    }
    25% {
        scale: 1;
    }
    50% {
        transform: rotateY(0deg) rotateZ(5deg);
    }
    60% {
        scale: 2.5;
        transform: rotateZ(-5deg);
    }
    75% {
        transform: rotateZ(-5deg);
    }
    100% {
        scale: 1;
        transform: rotateZ(5deg);
    }

}

#bet-div {
    top: 15%;
}

#amount-div {
    top: 45%;
}

#start-button {
    position: absolute;
    top: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2svh;
    border: none;
    color: white;
    font-size: 8svh;
    font-family: 'Baloo 2';
    font-weight: 600;
    padding: 0 4svh;
    border: #fff solid 0.5svh;
}

.fade-up {
    animation: fade-up ease forwards 0.6s;
}

.unfade-up {
    animation: unfade-up ease forwards 0.6s;
}

.fade-down {
    animation: fade-down ease forwards 0.6s;
}

.unfade-down {
    animation: unfade-down ease forwards 0.6s;
}

@keyframes fade-up {
    from {
        opacity: 1;
    }
    to {
        translate: 0 -100%;
        opacity: 0;
    }
}

@keyframes fade-down {
    from {
        opacity: 1;
    }
    to {
        translate: 0 100%;
        opacity: 0;
    }
}

@keyframes unfade-up {
    from {
        translate: 0 -100%;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes unfade-down {
    from {
        translate: 0 100%;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#current-win {
    translate: 0 -57vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: unfade-win-up forwards 1s ease;
    transition: all 0.6s ease;
}

@keyframes unfade-win-up {
    from {
        opacity: 0;
        translate: 0 -100vh;
    }
    to {
        opacity: 1;
        translate: 0 -57vh;
    }
}