<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL - Slots</title>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/games/slots/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" defer></script>
</head>
<body>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/static/js/general.js"></script>
    <script src="/static/js/games/slots/script.js"></script>
    <div class="content" id="content" style="transition: filter 0.3 ease;">
        <button id="exitButton">&times</button>
        <div class="money_counter"><i class="fa-solid fa-coins"></i><p id="money">1488</p></div>
        <div id="machineScreen">
            <div class="slot_div" id="slot1"><div class="slot">?</div></div>
            <div class="slot_div" id="slot2"><div class="slot">?</div></div>
            <div class="slot_div" id="slot3"><div class="slot">?</div></div>
        </div>
        <div id="machineTopPanel"></div>
        <div id="machineBottomPanel"></div>
        <button id="spinButton"><i class="fa-solid fa-rotate"></i></button>

        <div id="bet-div">
            <h1>Bet</h1>
            <div id="bet-input-div">
                <button id="bet-button" onclick="const input = document.getElementById('bet-input'); input.value = parseInt(input.value)-25">-</button>
                <input type="number" id="bet-input" value="200">
                <button id="bet-button" onclick="const input = document.getElementById('bet-input'); input.value = parseInt(input.value)+25">+</button>
            </div>
        </div>
    </div>

    <div class="popup" id="signin-first-popup">
        <div class="popup-header" style="color: red;">Error</div>
        <div class="popup-content">
            <p style="font-size: 5svh;">You should <a onclick="goto('/signin')">Sign In</a> or <a onclick="goto('/signup')">Sign Up</a> first</p>
            <button class="popup-close"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>

    <div id="sideNav" class="side_nav">
        <button id="closeNav" class="close_btn">&times;</button>
        <a onclick="goto('/index')">Home</a>
        <a onclick="goto('/games')">Games</a>
        <a onclick="goto('/contact')">Contact</a>
    </div>
</body>
</html>