<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL - Slot Machine</title>
    {% include 'basic_links.html' %}
    <link rel="stylesheet" href="/static/css/games/style.css">
</head>
<body>
    <script src="/static/js/games/script.js"></script>
    <div class="content" id="content">
        {% include 'nav.html' %}
        <div class="games">
            <div class="game_card" onclick="goto('/games/slots')">
                <img src="/static/img/game_slots.png" alt="Game">
                <h2>Slot Machine</h2>
                <p>Default slot machine</p>
            </div>
            <div class="game_card" onclick="goto('/games/ball')">
                <img src="/static/img/game_ball.jpg" alt="Game">
                <h2>Ball</h2>
                <p>Watch balls fall(WIP)</p>
            </div>
            <div class="game_card" onclick="location.href = 'https://5nights.totskiy.pp.ua'">
                <img src="/static/img/game_placeholder.png" alt="Game">
                <h2>Five Nights With Totskiy</h2>
                <p>Horror game inspired by Hello Neighbor(WIP)</p>
            </div>
            <div class="game_card" onclick="location.href = 'https://under.totskiy.pp.ua'">
                <img src="/static/img/game_placeholder.png" alt="Game">
                <h2>UnderTotskiy</h2>
                <p>Example mod for my undertale engine(WIP)</p>
            </div>
            <div class="game_card">
                <img src="/static/img/game_placeholder.png" alt="Game">
                <h2>Game 5</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="game_card">
                <img src="/static/img/game_placeholder.png" alt="Game">
                <h2>Game 6</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="game_card">
                <img src="/static/img/game_placeholder.png" alt="Game">
                <h2>Game 7</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="game_card">
                <img src="/static/img/game_placeholder.png" alt="Game">
                <h2>Game 8</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>

    {% include 'side_nav.html' %}
</body>
</html>