<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotskiyLoot</title>
    {% include 'basic_links.html' %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/edit_profile.css">
</head>
<body>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/static/js/edit_profile.js"></script>
    <input type="file" id="hiddenFileInput" accept="image/*">
    <div class="content" id="content">
        {% include 'nav.html' %}
        <div class="center_fullwidth">
            <div class="ar9_16">
                <div id="profile">
                    <div class="edit-div" id="avatar-edit"><img src="/static/avatars/{{username}}.webp" onerror="this.src='/static/img/avatar.svg'" id="avatar"><i id="pencil" class="fa-solid fa-pencil"></i></div>
                    <div class="edit-div"><h1 id="username">{{username}}</h1><i id="pencil" class="fa-solid fa-pencil"></i></div>
                    <div id="username-input-div">
                        <input type="text" id="username-input">
                        <button id="username-input-confirm"><i class="fa-solid fa-check"></i></button>
                    </div>
                </div>
                <div class="edit-div" id="description-edit"><p id="description">{{description}}</p><i id="pencil" class="fa-solid fa-pencil"></i></div>
                <div id="description-input-div">
                    <textarea type="text" id="description-input"></textarea>
                    <button id="description-input-confirm"><i class="fa-solid fa-check"></i></button>
                </div>
                <button id="done-button"><i class="fa-solid fa-check"></i></button>
            </div>
        </div>
    </div>

    {% include 'side_nav.html' %}
</body>
</html>