<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotskiyLoot</title>
    {% include 'basic_links.html' %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="content" id="content">
        {% include 'nav.html' %}
        <div class="center_fullwidth">
            <div class="ar9_16">
                <h1>Oops, no such user! Click <a onclick="goto('/signin')" style="color: cornflowerblue; font-style: italic;">here</a> if you have issues with loading your profile</h1>
                <button onclick="goto('index')" class="letsgo_button">Go Back</button>
            </div>
        </div>
    </div>

    {% include 'side_nav.html' %}
</body>
</html>