<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotskiyLoot</title>
    {% include 'basic_links.html' %}
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <script src="/static/js/profile.js"></script>
    <div class="content" id="content">
        {% include 'nav.html' %}
        <div class="center_fullwidth">
            <div class="ar9_16">
                <div id="profile">
                    <img src="/static/avatars/{{username}}.webp" onerror="this.src='/static/img/avatar.svg'" id="avatar">
                    <h1 id="username">{{username}}</h1>
                </div>
                <div class="money_counter"><i class="fa-solid fa-coins"></i><p id="money">{{money}}</p></div>
                <p id="description">{{description}}</p>
                <button class="logout" id="logout_button"><i class="fa-solid fa-right-from-bracket"></i></button>
                <button class="edit" id="edit_button"><i class="fa-solid fa-pencil"></i></button>
            </div>
        </div>
    </div>

    {% include 'side_nav.html' %}
</body>
</html>