<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL - Sign Up</title>
    {% include 'basic_links.html' %}
    <link rel="stylesheet" href="/static/css/signin.css">
</head>
<body>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/static/js/signup.js"></script>
    {% include 'nav.html' %}
    <div class="content" id="content">
        <div class="square_bg"></div>
        <div action="" class="form1">
            <label for="">Username: </label>
            <input type="text" name="username" id="username_input"><br>
            <label for="">Password: </label>
            <input type="password" name="pass" id="pass_input"><br>
            <label for="">Repeat: </label>
            <input type="password" name="pass2" id="pass2_input"><br>
            <button class="signin_button" id="signin_button">Sign Up</button>
        </div>
    </div>

    {% include 'side_nav.html' %}
</body>
</html>